.DS_Store
.idea/
node_modules/
.vscode/
.env
uploads/
!uploads/.gitkeep
modules/config/lib/*.json
!modules/config/lib/expected_*.json
dump.rdb
coverage/
.nyc_output
#Local test folder and files
/_test/
/test.js
static/tmp/
/config
yarn-error.log
.garden
error.log
config_aggregator.json
backend-*.yaml
docker-compose-resolved.yaml
.gitsecret/keys/random_seed
!*.secret
.gitsecret/envs/develop
.gitsecret/envs/master
